<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>yakudatsu</title>
    <style type="text/css">

      body {
        background-color: skyblue;

      }

      li {
        margin-top: 13px;
      }

</style>


  </head>
  <body>
    <h1>役に立つまとめ！</h1>
    <%= yield %>
  </body>
</html>



